# Token for the gated meta-llama/Llama-Prompt-Guard-2-22M. Accept the Llama
# license on the model page first; a read-only token is enough. Only the first
# start downloads the model; it is cached in the guard-models volume after.
HF_TOKEN=
